<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">

        <!-- SplashActivity is the entry point and the only activity with LAUNCHER intent -->
        <activity android:name=".auth.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- LoginActivity does not need to be exported or have a MAIN intent filter -->
        <activity android:name=".auth.LoginActivity"
            android:exported="false" />

        <!-- RegistrationActivity does not need to be exported -->
        <activity android:name=".auth.RegistrationActivity"
            android:exported="false" />

        <activity android:name=".MainActivity"
            android:exported="true" />

<!--        <activity android:name=".X.XActivity" />-->

        <activity android:name=".X.XActivity"
            android:exported="true"/>

        <activity android:name=".X.XmarksActivity"
            android:exported="true"/>

        <activity android:name=".X.DocumentUpload"
            android:exported="true"/>

        <activity android:name=".XII.XIIActivity"
            android:exported="true"/>

        <activity android:name=".XII.XIICourse"
            android:exported="true"/>

        <activity android:name=".XII.science.ScienceActivity"
            android:exported="true"/>

        <activity android:name=".XII.commerce.CommerceActivity"
            android:exported="true"/>

        <activity android:name=".XII.arts.ArtsActivity"
            android:exported="true"/>


    </application>
</manifest>
